/* 
    Document   : layout
    Created on : 13.12.2011, 14:26:45
    Author     : Rusk
*/

html.js input.form-autocomplete {
  background-position: 100% 20px;
}

html.js input.throbbing {
  background-position: 100% -18px;
}

#header-region {
  height: 50px;
	background-color: #37abcc; /* Old browsers */
    background: -moz-linear-gradient(top, #37abcc 0%, #00a0ce 51%, #008db5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37abcc), color-stop(51%,#00a0ce), color-stop(100%,#008db5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* IE10+ */
    background: linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37abcc', endColorstr='#008db5',GradientType=0 ); /* IE6-9 */
}

#header-region #header {
  width: 900px;
  margin: 0 auto;
  height: 50px
}

#center {
	width: 900px;
  margin: 0 auto;
}

#sidebar-left {
  float: left;
  width: 120px;
  padding-right: 10px;
}

#center #main-content {  
  width: 900px;
}

.sidebar-left #center #main-content {
  float: left;
  width: 770px;
}

#block-menu-menu-top-menu .menu {
  float: right;
  margin-top: 25px;
}

#block-menu-menu-top-menu ul.menu li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

#block-menu-menu-top-menu ul.menu li a {
  color: #fff;
  padding: 7px 10px;
}

#block-menu-menu-top-menu ul.menu li a:hover {
  background-color: #0285AB;  
}

#block-views-project_categories-block_1 {
  border-right: 1px solid #ccc;
  padding-top: 15px;
}

#block-views-project_categories-block_1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0px;
}

#block-views-project_categories-block_1 a {
  color: #4a4a4a;
  display: block;
  width: 114px;
  padding: 5px 0px 5px 5px;
}

#block-views-project_categories-block_1 a:hover {
  background-color: #ecebeb;
}

#block-menu-menu-featured-projects {
  margin-top: 100px;
  border-right: 1px solid #ccc;
}

#block-menu-menu-featured-projects h2 {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
}

#block-menu-menu-featured-projects ul {
  margin-top: 10px;
  margin-left: 0px;
  padding: 0px;
}

#block-menu-menu-featured-projects ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

#block-menu-menu-featured-projects ul li a {
  color: #4a4a4a;
  padding: 5px;
  display: block;
}

#block-menu-menu-featured-projects ul li a:hover {
  background-color: #ecebeb;
}

#header .site-title {

  font-size: 25px;
  position: absolute;
  top: 10px;
}

#header .site-title a {
  color: #fff;
}

/* Title */
h2 {
  color: #444444;
  font-size: 45px;
  font-weight: normal;
}
/* Tabs */
ul.tabs {
  border: none;
  background-color: #EEEEEE;
  height: 35px;
  padding: 0 0 0 18px;
  margin: 0;
}

ul.tabs li {
  font-size: 17px;
  height: 27px;
  padding: 8px 15px 0;
  display: inline-block;
}

ul.tabs li.active {
  background-color: #DDDDDD;
}

ul.tabs li:hover, ul.tabs li:hover a{
  background-color: #DDDDDD;
}

ul.tabs li.active a {
  border: 0;
  background: none
}

ul.tabs li a {
  color: #00A0CE;
  border: 0;
  background: none
}


/*Change password form*/

input.form-text {
  border: 1px solid #A0A0A0;
  border-radius: 5px 5px 5px 5px;
  color: #444444;
  font-size: 18px;
  height: 30px;
  outline-style: none;
  padding: 3px 6px;
  width: 350px;
}

#weeve-account-change-password-form {
  overflow: hidden;
	margin: 30px 230px 30px 30px;
}

#weeve-account-change-password-form .form-submit {
  background: -moz-linear-gradient(center top , #37ABCC 0%, #00A0CE 51%, #008DB5 100%) repeat scroll 0 0 transparent;
  background-color: #00A0CE;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  clear: both;
  float: right;
}

#weeve-account-change-password-form .form-submit:hover {
  cursor: pointer;
  background-color: #0285ab;
}

#weeve-account-change-password-form .label {
  float: left;
}

#weeve-account-change-password-form .label label {
  font-size: 16px;
  font-weight: normal;
  padding: 6px 10px;
  text-align: right;
  width: 250px;
}

#weeve-account-change-password-form .field {
  float: left;
}

#weeve-account-change-password-form .form-item {
  overflow: hidden;
}

/*General account edit form*/
#weeve-account-change-general-form {
  overflow: hidden;
	margin: 30px 230px 30px 30px;
}

#weeve-account-change-general-form .label {
  float: left;
}

#weeve-account-change-general-form .label label {
  font-size: 16px;
  font-weight: normal;
  padding: 6px 10px;
  text-align: right;
  width: 250px;
}

#weeve-account-change-general-form .field {
  float: left;
}

#weeve-account-change-general-form .form-item {
  overflow: hidden;
}

#weeve-account-change-general-form .form-submit {
  background: -moz-linear-gradient(center top , #37ABCC 0%, #00A0CE 51%, #008DB5 100%) repeat scroll 0 0 transparent;
  background-color: #00A0CE;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  clear: both;
  float: right;
}

#weeve-account-change-general-form .form-submit:hover {
  cursor: pointer;
  background-color: #0285ab;
}
