/* 
    Document   : layout
    Created on : 13.12.2011, 14:26:45
    Author     : Rusk
*/

html.js input.form-autocomplete {
  background-position: 100% 20px;
}

html.js input.throbbing {
  background-position: 100% -18px;
}

a {
  color: #00a0ce;
}

#header-region {
  height: 50px;
	background-color: #37abcc; /* Old browsers */
    background: -moz-linear-gradient(top, #37abcc 0%, #00a0ce 51%, #008db5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37abcc), color-stop(51%,#00a0ce), color-stop(100%,#008db5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* IE10+ */
    background: linear-gradient(top, #37abcc 0%,#00a0ce 51%,#008db5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37abcc', endColorstr='#008db5',GradientType=0 ); /* IE6-9 */
}

.front-page #header-region {
  height: 125px;
}

#header-region #header {
  width: 900px;
  margin: 0 auto;
  height: 50px;
  font-family: neue;
}

.front-page #header-region #header {
  height: 125px;
}

#center {
	width: 900px;
  margin: 0 auto;
}

#squeeze .left-corner {
  overflow: hidden;
}

#sidebar-left {
  float: left;
  width: 120px;
  padding-right: 0px;
  margin-bottom: -31800px;
  padding-bottom: 32000px;
  border-right: 1px solid #e5e5e5;
  margin-right: 5px;
  margin-top: 105px;
}

#center #main-content {  
  width: 900px;
}

.sidebar-left #center #main-content {
  float: left;
  width: 770px;
  margin-bottom: -31800px;
  padding-bottom: 32000px;
}

.sidebar-left a {
  font-size: 14px;
}

#sidebar-left a.active {
  background-color: #ecebeb;
}

#block-menu-menu-top-menu {
  margin-top: 25px;
  float: right;
}

.front-page #block-menu-menu-top-menu {
  margin-top: 95px;
}

#block-menu-menu-top-menu .menu {
  /*right: 0px;
  position: absolute;
  bottom: 4px; */
}

#block-menu-menu-top-menu ul.menu li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

#block-menu-menu-top-menu ul.menu li a {
  color: #fff;
  padding: 7px 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.front-page #block-menu-menu-top-menu ul.menu li a {
  font-size: 20px;
}


#block-menu-menu-top-menu ul.menu li a:hover {
  background-color: #0285AB;  
}

#block-views-project_categories-block_1, #block-weeve_project-1 {
  padding-top: 5px;
}

#block-views-project_categories-block_1 h2, #block-weeve_project-1 h2 {
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

#block-views-project_categories-block_1 h2 {
  margin-bottom: 10px;
}

#block-views-project_categories-block_1 a, #block-weeve_project-1 a {
  color: #4a4a4a;
  display: block;
  width: 114px;
  padding: 5px 1px;
  padding-left: 5px;
  margin: 0px;
}

#block-views-project_categories-block_1 a:hover, #block-weeve_project-1 a:hover {
  background-color: #ecebeb;
}

#block-weeve_project-2 {
  margin-top: 0px;
}

#block-weeve_project-2 h2 {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
  padding-left: 5px;
}

#block-weeve_project-2 ul, #block-weeve_project-1 ul {
  margin-top: 10px;
  margin-left: 0px;
  padding: 0px;
}

#block-weeve_project-2 ul li, #block-weeve_project-1 ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0px;
  padding: 0px;
}

#block-weeve_project-2 ul li a, #block-weeve_project-1 ul li a {
  color: #4a4a4a;
  padding: 5px;
  display: block;
  width: 109px;
  padding-right: 6px;
}

#block-weeve_project-2 ul li a:hover {
  background-color: #ecebeb;
}

/**SEARCH BLOCK**/
#block-weeve_project-3 {
  margin-top: 10px;
  float: right;
  height: 14px;
  width: 125px;
  margin-right: 20px;
}

.front-page #block-weeve_project-3 {
  display: none;
}

#block-weeve_project-3 input {
  height: 14px;
  width: 125px;
  color: #555;
  border: none;
  outline-style: none;
  margin-right: 5px;
  border-radius: 999px;
  font-size: 13px;
  background: url('../img/searchicon_small.png') 6px #fff no-repeat;
  padding-left: 22px;
}

#block-weeve_project-3 input[type=submit] {
  display: none !important;
}

.apachesolr_search-results .search-project {
  background-color: white;
	border: 1px solid #999999;
	height: 200px;
	border-radius: 5px;
  position: relative;
	box-shadow: 0px 0px 4px #aaaaaa;
  margin-bottom: 20px;
  clear: both;
}

.apachesolr_search-results .search-project .image {
  float: left;
	width: 215px;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	margin: 20px;
}

.apachesolr_search-results .search-project .content {
  margin: 10px 20px 10px 10px;
	float: left;
	vertical-align: text-top;
	width: 400px;
	display: inline-block;
}

.apachesolr_search-results .search-project .proj-title {
	font-size: 16px;
	margin-bottom: 5px;
}

.apachesolr_search-results .search-project .proj-subtitle {
	font-size: 12px;
	margin-bottom: 10px;
}

.apachesolr_search-results .search-project .proj-paragraph {
	font-size: 12px;
}

.apachesolr_search-results .search-project .donated-history {
	float: left;
	width: 213px;
	display: inline-block;
	background-color: #f7f7f7;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: relative;
}

.apachesolr_search-results .search-project .project-location-wrap{
	position: absolute;
	bottom: 10px;
}
.donated-history-stat-wrap {
	margin-left: 20px;
	margin-top: 10px;
}

.donated-history-stat-wrap .value {
	color: #333;
	font-size: 28px;
}

.apachesolr_search-results .search-project:hover {
	border-color: #444444;
	box-shadow: 0px 0px 10px #777777;
}
/** END SEARCH **/

#header .site-title {
  height: 50px;
  float: left;
  width: 200px;
  position: relative;
}

.front-page #header .site-title {
  height: 125px;  
  
}

#header .site-title a {
  color: #fff;
  display: block;
}

#header .site-title a img {
  height: 30px;
  position: absolute;
  bottom: 5px;
}

.front-page #header .site-title a img {
  height: 90px;
  bottom: 8px;
}

/* Title */
h2 {
  color: #444444;
  font-size: 45px;
  font-weight: normal;
}
/* Tabs */
ul.tabs {
  border: none;
  background-color: #EEEEEE;
  height: 35px;
  padding: 0 0 0 18px;
  margin: 40px 0 0 0;
}

ul.tabs li {
  font-size: 17px;
  height: 30px;
  padding: 5px 5px 0;
  display: inline-block;
}

ul.tabs li.active {
  background-color: #DDDDDD;
}

ul.tabs li:hover, ul.tabs li:hover a{
  background-color: #DDDDDD;
}

ul.tabs li.active a {
  border: 0;
  background: none
}

ul.tabs li a {
  color: #00A0CE;
  border: 0;
  background: none;
  margin-right: 0px;
  display: block;
  padding: 3px 10px 0px;
}

.weeve-message {
  background-color: #F8F8F8;
  border: 1px solid #DDDDDD;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.weeve-message .message-close {
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 5px;
}
