/* 
    Document   : node
    Created on : 16.12.2011, 14:39:03
    Author     : Rusk
*/

/** PROJECT **/

#center .left-corner {
  margin-top: 40px;
}

#center .center-left {
  width: 595px;
  padding: 7px 15px 7px 0px;
  float: left;
  margin: 0px;
}

.project-edit #center .center-left {
  width: 100%;
}

#center .center-left img {
  max-width: 100%;
}

#center .center-right {
  width: 275px;
  padding-bottom: 15px;
  background-color: #F2F2F2;
  float: left;
}

div.page-node-project h2.title,
div.project-updates-page .attachment .views-field-title,
div.project-comments-page .attachment .views-field-title {
  font-size: 40px;
  font-weight: normal;
  color: #555;
  margin: 0px;
}

div.page-node-project h3.author {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 45px;
  font-weight: normal;  
}

div.page-node-project h3.author a {
  color: #00A0CE;
}

ul.project-node-menu {
  height: 45px;
  background-color: #F2F2F2;
  margin: 0px;
  padding-left: 0px;
}

ul.project-node-menu li {
  list-style-type: none;
  float: left;
}

ul.project-node-menu a {
  color: #00A0CE;
  font-size: 18px;
  padding: 11px 20px;
  display: block;
}

ul.project-node-menu a:hover, ul.project-node-menu a.active {
  color: #0285AB;
  background-color: #ddd;
}

.node.project .project-body {
  font-size: 16px;
  color: #555; 
}

.node.project .project-body .media_embed > * {
  max-width: 100%;
}

div.project-updates-page .views-row {
  margin-bottom: 30px;
}

div.project-updates-page .views-field-title {
  font-size: 25px;
}

div.project-updates-page .views-field-title a {
  color: #333;
}

div.project-updates-page .view-display-id-attachment_1 {
  margin-bottom: 20px;
}

div.project-updates-page div.views-field-created {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  color: #999;
}

div.project-updates-page div.views-field-created em {
  font-style: normal;
}

