/* 
    Document   : views
    Created on : 19.12.2011, 15:21:36
    Author     : Rusk
    Description:
        Purpose of the stylesheet follows.
*/

.view-author-proposals table.views-table {
  width: 100%;
}

.view-author-proposals table.views-table td,
.view-author-proposals table.views-table th {
  padding: 5px;
}

#block-views-featured_projects-block_1 {
  clear: both;
/*  margin-top: 5px;*/
}

#block-views-featured_projects-block_1 h2,
.view-featured-projects.front-page .view-header h4 {
  font-size: 16px;
  font-weight: bold;
}

.view-featured-projects.front-page .view-header h4 {
  margin-top: 35px;
}

#block-views-featured_projects-block_1 h4 {
  margin-top: 0px;
}

.view-featured-projects.front-page .view-header h2 {
  font-size: 30px;
  color: #4a4a4a;
  font-weight: normal;
  margin: 5px 0px;
  font-family: neue;
}

.view-featured-projects.front-page .view-header h3 {
  font-size: 20px;
  color: #777;
  margin: 5px 0px;
  font-weight: normal;
}

.view-featured-projects .view-project-percent-row {
  height: 9px;
  background-color: #ddd;
  border-radius: 99px;
  clear: both;
  margin: 5px 0px 10px;
}

.view-featured-projects .view-project-percent-row .pledged {
  background-color: #00A0CE;
  border-radius: 99px;
  height: 9px;
}


/* PENDING PROJECTS */
.view-npo-project-proposals {
  font-family: neue;
}

.view-npo-project-proposals table {
  width: 100%;
}

.view-npo-project-proposals table tr:hover {
  background-color: #f6f6f6;
}

.view-npo-project-proposals table tr {
  background-color: #fff;
  cursor: pointer;
}

.view-npo-project-proposals table th {
  border: none;
}

.view-npo-project-proposals table thead {
  display: none;
}

.view-npo-project-proposals.proposals table tr.views-row-last {
  border-bottom: none;
}

.view-npo-project-proposals.projects table tr.views-row-last {
  border-bottom: 1px solid #ccc;
}

.view-npo-project-proposals table tr td {
  padding: 20px;
  padding-left: 30px;
}

.view-npo-project-proposals table tr td .body {
  display: none;
}

.view-npo-project-proposals.projects table tr td.views-field-field-project-status-value,
.view-npo-project-proposals.proposals table tr td.views-field-field-proposal-status-value {
  width: 170px;
  text-align: center;
}

.view-npo-project-proposals table td.views-field-field-proposal-status-value .weeve-medium-button.weevedisabled,
.view-npo-project-proposals table td.views-field-field-project-status-value .weeve-medium-button.weevedisabled {
  cursor: default;
}

.view-npo-project-proposals .view-empty {
  padding: 10px;
  font-size: 16px;
  padding-left: 20px;
}

.view-npo-project-proposals .view-header,
.view-npo-project-proposals .view-footer {
  color: #777;
  font-size: 16px;
  padding: 20px;
  padding-left: 30px;
}

.view-npo-project-proposals .view-header {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

.view-npo-project-proposals .view-header h3,
.view-npo-project-proposals .view-footer h3 {
  color: #333;
  font-size: 23px;
  font-weight: normal;
}

.view-npo-project-proposals .views-field-nothing {
  padding-top: 20px;
  color: #777777;
  letter-spacing: 0px;
  font-size: 16px;
}

.view-npo-project-proposals .views-field-nothing .title {
  color: #333333;
  font-size: 16px;
}

.view-npo-project-proposals .views-field-nothing .title .created {
  display: inline;
}

.view-npo-project-proposals .views-field-nothing .title .created:before {
  content: " - "
}

/* COMMENTS */
.project-comments-page .view-content {
  margin-top: 20px;
}

.project-comments-page .views-row {
  clear: both;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0px;
  padding-top: 10px;
}

.project-comments-page .views-field-picture {
  float: left;
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}

.project-comments-page .views-field-nothing {
  float: left;
}

.project-comments-page .views-field-nothing .timestamp, .project-comments-page .views-field-nothing .timestamp em {
  font-size: 11px;
  color: #aaa;
  font-style: normal;
}

.project-comments-page .clear {
  clear: both;
}


/*PROJECT UPDATES*/
.view-project-updates .view-header .weeve-medium-button,
.view-project-comments .view-header .weeve-medium-button,
#weeve-project-edit-project-form .weeve-medium-button {
  margin: 20px 10px;
}